body {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
/*.................
HEADER
.................*/

.header {
  background-image: url('../img/header-bg.jpg');
  width: 1350px;
  height: 650px;
}
.for_flex  {
  display: flex;
}
.logo {
  margin-left: 100px;
  margin-top: 40px;
}
.nav ul {
  margin-top: 40px;
  margin-left: 80px;
  list-style: none;
  display: flex;
}
.nav li {
  margin-right: 30px;
}
.nav a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
  cursor: pointer;  
}
.phone p {
  margin-top: 40px;
  margin-left: 250px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
}
.vector {
  background-color: #DCDCDC;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 150px;
  top: 35px;
  border-radius: 50%;
}
.vector-1 {
  background-color: #DCDCDC;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 90px;
  top: 35px;
  border-radius: 50%;
}
.vector img, .vector-1 img {
  padding: 10px 10px;
}
.header h1 {
  font-family: "Oswald-Bold";
  font-style: normal;
  font-size: 98px;
  line-height: 145px;
  color: #FCFCFC;
  text-align: center;
  margin-top: 140px;
}
input {
  width: 170px;
  height: 45px;
  border: 2px solid #FCFCFC;
  background-color: transparent;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
  cursor: pointer;
}
.center {
  text-align: center;
}

/*.................
ARTILE
.................*/
.article h1 {
  font-family: "Oswald-Bold";
  font-style: normal;
  font-size: 52px;
  line-height: 115%;
  color: #061B28;
  margin-left: 100px;
  margin-top: 140px;
}
.article p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #061B28;
  margin-left: 100px;
}
.article img {
  position: absolute;
  width: 815px;
  height: 375px;
  left: 530px;
  top: 880px;
}
/*.................
ARTILE 2
.................*/
.article-2 h1 {
  font-family: "Oswald-Bold";
  font-style: normal;
  font-size: 52px;
  line-height: 115%;
  color: #061B28;
  text-align: center;
  margin-top: 150px;
}
.for_trip {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.trip-1, .trip-2, .trip-3 {
  width: 370px;
  height: 330px;
  position: relative;
}
.trip-1 {
  background-image: url('../img/image-1.jpg')
}
.trip-2 {
  background-image: url('../img/image-2.jpg')
}
.trip-3 {
  background-image: url('../img/image-3.jpg')
}
.trip-1, .trip-2 {
  margin-right: 30px;
}
.for_vector {
  display: flex;
}
.position-1 {
  width: 13px;
  height: 16px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.for_vector p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 115%;
  color: #061B28;
  margin-left: 60px;
  margin-top: 40px;
}
.position-2 {
  width: 10px;
  height: 15px;
  padding: 12px;

}
.for_background {
  background-color: #DCDCDC;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 40px;
  top: 30px;
}
.trip-1 h2, .trip-2 h2, .trip-3 h2 {
  font-family: "Oswald-Medium";
  font-style: normal;
  font-size: 26px;
  line-height: 115%;
  color: #061B28;
  margin-left: 40px;
  margin-top: 120px;
}
.for_bottom {
  margin-top: -20px;
  display: flex;
}
.for_bottom p:first-child {
  margin-left: 40px;
  
}
.for_bottom p {
  margin-right: 20px;
}
.for_bottom_plus {
  display: flex;
  margin-top: 5px;
}
.for_bottom_plus img {
  width: 7px;
  height: 14px;
  margin-left: 40px;
}
.for_bottom_plus p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 115%;
  color: #061B28;
  margin-left: 10px;
  margin-top: -5px;
}
.for_bottom_plus .petite {
  width: 7px;
  height: 7px;
}
.arrow_left {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 140px;
  top: 1960px;
  background: #E6E8EA;
  border-radius: 50%;
  cursor: pointer;
}
.arrow_right {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 80px;
  top: 1960px;
  background: #E6E8EA;
  border-radius: 50%;
  cursor: pointer;
}
.arrow_left img, .arrow_right img{
  margin-top: 12px;
  margin-left: 10px;
}
/*.................
SECTION
.................*/
.section {
  background-image: url('../img/map-1.jpg');
  width: 1350px;
  height: 757px;
  margin-top: 150px;
}
.section h1 {
  font-family: "Oswald-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  color: #FCFCFC;
  text-align: center;
  padding-top: 80px;
}
.section h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FCFCFC;
}
.table {
  display: table;
  border: none;
  width: 830px;
  margin: 40px auto;
  border-collapse: collapse; 
}
.table-tr {
	 display: table-row;
}
.table-td {
	display: table-cell;	
	width: 25%;
  text-align: center;
  border-bottom: 1px solid #45545E;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #FCFCFC;
  padding: 25px;
}
.item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #A7AEB4;
  padding: 5px;
}

/*.................
SECTION 2
.................*/

.section-2 {
  margin-top: 100px;
}
.section-2 h1 {
  font-family: "Oswald-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  color: #061B28;
  text-align: center;
}
.news, .blog {
  display: flex;
  flex-direction: column;
}
.news {
  width: 400px;
  margin-left: 100px;
  margin-right: 70px;
}
.blog {
  width: 700px;
}
.black-block {
  background-color: #061B28;
  cursor: pointer;
}
.black-block .data {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #7E8386;
  margin-left: 30px;
  margin-top: 30px;
}
.black-block .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #FCFCFC;
  margin-left: 30px;
  margin-top: 10px;
}
.white-block {
  cursor: pointer;
}
.white-block .data {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #626F77;
  margin-left: 30px;
  margin-top: 30px;
}
.white-block .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #061B28;
  margin-left: 30px;
  margin-top: 10px;
}
.orange_button {
  width: 400px;
  height: 50px;
  background-color: #EC5118;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
  cursor: pointer;
}
.orange {
  margin-top: 20px;
}
.blog_flexbox {
  display: flex;
}
.data-blog {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #626F77;
  margin-top: 40px;
}
.title-blog {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #061B28;
  margin-top: 0px;
}
.blog p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #061B28;
}